.Account {
  font-size: 14px;
  padding: 7px;
  color: white;
  width: 300px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: right;
  position: absolute;
  float: left;
  top: 1.5%;
  display: inline;
  right: 0.5%;
}

.NeedCreateAccount {
  display: inline;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 35%;
  color: white;
}

#SignUp {
  display: inline;
  color: white;
  border: solid 1px white;
  font-weight: bold;
  float: right;
}
